.all-photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.photos-grid > * {
  margin: 5px; /* Add margin between photos */
}

.photos-grid {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(200px * 5); /* Maximum height for 5 rows, adjust as needed */
  overflow-y: auto; /* Add a vertical scrollbar if the content overflows */
}
